@font-face {
    font-family:lucoteciaBold;
    src: url("src/assets/fonts/lucotecia.bold.otf");
}

.progress_bar_container h4 {
    font-size:20px;
    color:#ffffff;
    font-family:lucoteciaBold;
    margin-bottom:0px;
}

.progress_bar_inner_container progress {
    width:70%;
}