.skill_card_view_container {
    width:450px;
    height:fit-content;
    background-color:#161616;
    border-radius:15px;
    padding:15px;
}

.levels_section {
    width:calc(450px - 30px);
    height:fit-content;
    margin-top:20px;
}